<h1>Enter Word to calculate Scrabble Score</h1>
<form action='/score'>
  <div class="form-group">
    <label for="word">Enter Word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
